@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #F8485E;
    --secondary: #6054E8;
    --light-gray: #f0f0f0;
    --text-gray: #3f444b;
    --white: #fff;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all;
    transition-duration: 0.2s;
    font-family: "Roboto", sans-serif;
}

header,
section,
footer {
    padding: 3rem 5%;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    cursor: pointer;
}

.primary-button {
    color: white;
    background-color: var(--primary);
    padding: 1rem 1.2rem;
    border-radius: 50px;
    font-weight: 700;
    border: 2px solid var(--primary);
    width: fit-content;
    font-size: 17px;
}

.primary-button:hover {
    background-color: var(--white);
    color: var(--primary);

}

.secondary-button {
    color: white;
    background-color: var(--black);
    padding: 1rem 1.2rem;
    border-radius: 50px;
    font-weight: 700;
    font-size: 17px;
    border: 2px solid var(--black);
    width: fit-content;
}

.secondary-button:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);

}

/* Home */
section#home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: stretch;
    background-color: var(--white);
}

section#home>div {
    position: relative;
}

section#home .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    max-width: 75%;
}

section#home .left h2 {
    font-size: 45px;
}

section#home p {
    color: var(--text-gray);
}

section#home .right {
    width: 50%;
    background: var(--light-gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
}

section#home .right>div:first-child {
    z-index: -1;
    overflow: hidden;
}

section#home .right img {
    width: 80%;
    scale: 2;
    transform-origin: 50% 15%;
}

section#home .right .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    padding: 1.6rem 1rem;
    z-index: 100;
    background-color: var(--light-gray);
}